@font-face {
  font-family: "MD-System";
  src: url("@/assets/fonts/MDSystem-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MD-System";
  src: url("@/assets/fonts/MDSystem-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MD-System";
  src: url("@/assets/fonts/MDSystem-Italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "MD-System";
  src: url("@/assets/fonts/MDSystem-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MD-System";
  src: url("@/assets/fonts/MDSystem-Dark.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
