@use "fonts" as *;

// Would be nice to make these globel :/
// But, ain't nobody got time for that
$maxwidth: 1700px;
$mp: 24px;
$hl: #ff2a00;

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "MD-System", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: #ff2a00;
}

h1 {
  font-size: 120px;
}

#category {
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

::selection {
  background: black;
  color: white;
}
::-moz-selection {
  background: black;
  color: white;
}
