@use "fonts" as *;
@use "variables" as *;

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "MD-System", sans-serif;
  color: $color-fg;
  background: $color-bg;
  margin: 0;
}

main {
  padding: 0 $mp;
  max-width: $maxwidth;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $color-fg;
  transition: 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: $color-hl;
}

h1 {
  font-size: 120px;
}

#category {
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

::selection {
  background: $color-fg;
  color: $color-bg;
}

::-moz-selection {
  background: $color-fg;
  color: $color-bg;
}
